body{
background: url("lovely.jpg") no-repeat;
background-size: cover;
font-family: sans-serif;
color: #000000;
font-weight: bolder;
font-size: 30;
}
.intro{
margin-left: 10px;
margin-top: auto;
}
.education {
margin-left: 40px;
padding: 10px;
}
.work-experience {
margin-left: 70px;
padding: 10px;
}
.hobbies {
padding: 20px;
}
.image{
  float: right;
  opacity: 0.4;
}
.hobbies ul li{
  font-style: italic;
  color: #ff4000;
  list-style: none;
  border: 2px solid green;
  margin-right: 1200px;
}
.container {
color: #ec1313;
width: auto;
}
.container h3 {
  text-decoration: underline;
}

.dropdown {
  padding: 20px;
}
